/*** GENERAL ***/

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif; 
}

#wrapper {
    max-width: 720px;
    margin: 0 auto;
    padding: 0 5%;
}

a {
    text-decoration: none;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}



/*** HEADING ***/

header {
    background: linear-gradient(0deg, mintcream, transparent 120%),
    url("../img/headerbg.jpg");
    background-position-y: 37%;
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 35px 0 0 40px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 1.8rem;
}

h2 {
    margin-top: 0;
    padding: 0px 0 0 40px;
    letter-spacing: 0.03em;
    font-size: 1.35rem;
}



/*** NAVIGATION ***/

nav {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

nav ul {
  list-style: none;
}

nav li {
    display: inline-block;
    margin: 0 80px 0 15px;
}



/*** FOOTER ***/

footer {
  text-align: center;
  padding-top: 50px;
}

.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}



/*** PAGE: ABOUT ***/

.profile-photo {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}

/*** PAGE: PORTFOLIO ***/



/*** PAGE: CONTACT ***/



/*** COLORS ***/

/* site body */
body {
  background: mintcream;
}

/* logo text */
h1, h2 {
  color: black;
}

/* links */
a {
  color: steelblue;
}

/* nav link */
nav a, nav a:visited {
  color: black;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: lightgrey;
}