/* GENERAL */
body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif; 
    background: mintcream;
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 5%;
}

.photo {
    width: 55%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}


/* HEADING */
header {
    background: linear-gradient(0deg, mintcream, transparent 120%),
    url("../img/headerbg.jpg");
    background-position-y: 37%;
    background-size: cover;

}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 35px 0 0 40px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 1.8rem;
}

h2 {
    margin-top: 0;
    padding: 0px 0 0 40px;
    letter-spacing: 0.03em;
    font-size: 1.35rem;
}

h3 {
    text-align: center;
    text-transform: uppercase;
}



/* NAVIGATION */
nav {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    padding-bottom: 50px;
    margin-bottom: 30px;
}

nav li {
    display: inline-block;
    margin: 0 80px 0 15px;
}



/* FOOTER */
footer {

}