/* GENERAL */
* {
    box-sizing: border-box;
}



/* FLEXBOX */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

#portfolio {
    display: flex;
    flex-wrap: wrap;
}

figure {
   flex: 1 0 50%;
}



/* DESIGN */
body {
    font-family: 'Roboto Condensed', sans-serif;
    color: #19334d;
    margin: 0 auto;
    padding: 0 1.7em;
}

a {
    text-decoration: none;
    color: #3973ac;
}

p {
    font-size: 1.2em;
    line-height: 1.4em;
}

img {
    width: 100%;
}

.menuicons {
    font-size: 1.5em;
    margin-top: 0.5em;
}

i {
    padding-right: 1em;
    color: #19334d;
}

.logotext {
    font-size: 1.2em;
    position: fixed;
    right: 1em;
    color: #19334d;
}

section {
    margin-bottom: 2em;
}

.tagline {
    font-size: 2.2em;
}

.sociallinksimg {
    display: none;
}

figure {
    margin: 1em 0;
    text-transform: uppercase;
}

.figimg {
    object-fit: cover;
    min-height: 165px;
    padding-bottom: 1em;
}

.figleft { 
    padding: 0 0.5em 0 0;
}

.figright { 
    padding: 0 0 0 0.5em;
}

#about p img {
        display: none;
    }

.socialicons {
    font-size: 1.7em;
}

footer {
    font-size: 0.6em;
    margin: 1em 0;
    text-align: right;
}



/* MODALS */
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(192, 192, 192, 0.8);
    z-index: 99999;
    opacity:0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 85vw;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 2px;
    background: #fff;
}

.modalclose {
    font-family: Arial;
    font-size: 2em;
    color:#999999;
    position: absolute;
    top: -1em;
    right: 0.3em;
}



/* MEDIA QUERIES */

@media screen and (min-width: 481px) {

    /* design */    
    .menuicons {
        font-size: 2em;
    }
    
    .logotext {
        font-size: 1.5em;
        top: 0.5em;
    }

    main {
        max-width: 801px;
        margin: 0 auto;
    }
    
    .tagline {
        font-size: 3.5em;
    }

    .figimg {
    min-height: 365px;
    }

    #about {
        height: 370px;
    }

    #about p img {
        display: block;
        float: right;
        max-width: 50%;
        max-height: 340px;
        padding: 0 1em 1em 1.5em;
        opacity: 0.9;
    }

      /* modals */
    .modalDialog > div {
        max-width: 80vw;
        max-height: 90vh;
        margin: 5% auto;
    }

    .modalDialog img {
        max-width: 75vw;
        max-height: 70vh;
        width: auto;
        margin: auto;
        display: block;
    }
   
}
    
 

@media screen and (min-width: 1024px) {

    /* flexbox */
    figure {
        flex: 1 0 33%;
    }

    /* design */
    .menuicons {
        position: fixed;
        left: 1em;
    }
     
     main {
        max-width: calc(100vw - 380px);
        margin: 0 auto;
        padding-top: 3.5em;
    }

    .gustavimg {
        position: relative;
    }

    .sociallinksimg {
        display: block;
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 2.5em;
        margin: 0;
    }

    .sociallinksimg i {
        color: white;
    }

    figure {
        max-width: 33%;
        text-transform: uppercase;
    }

    .figbigleft { 
        padding: 0 0.5em 0 0;
    }

    .figbigright { 
        padding: 0 0 0 0.5em;
    }

    .figmiddle {
        padding: 0 0.5em;
    }

    #about {
        height: 370px;
    }
    
    #about p img {
        max-width: 40%;
    }

    /* modals */
    .modalDialog > div {
        max-width: 70vw;
        margin: 2% auto;
    }

    .modalDialog img {
        max-width: 65vw;
    }



}